body{
    margin:0;
    padding:0;
    background-color: black;
    color: white;
}
nav{
        background:none;
}

nav img{
    height: 50px;
}
#presentacion{
text-align: center;
padding-top: 20px;
}
.titulo-seccion{
    font-weight: lighter;
    margin:30px;
    text-align: center;
}
#presentacion p{
    text-align: left;
}
.tarjeta{
    margin: 30px;
}
.tarjeta i{
    background-color: aqua;
    padding:20px;

}
#destacados{
margin:50px;
}
.card{
    margin:20px;
}
#contacto{
    margin:50px;
}