body{
    margin:0;
    padding:0;
    background-color: black;
    color: white;
    justify-content: center;

}
nav{
    background:none;
}

nav img{
    height: 50px;
}
#presentacion{
text-align: center;
padding-top: 20px;
}
.titulo-seccion{
    font-weight: lighter;
    margin:30px;
    text-align: center;
}
#presentacion p{
    text-align: left;
}
.tarjeta{
    margin: 30px;
    padding:10px;
    position: relative;
}


@media (max-width: 540px) {
    .tarjeta i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; /* Ensure icons are on top of the text */
    }
}
.tarjeta i{
    background-color: aqua;
    padding:20px;

}
@media (max-width: 720px) {
    #caracteristicas {
        margin: 20px;
    }
}
#destacados{
margin:40px;
}
.card{
    margin:10px;
}
@media (min-width: 992px) {
    .card {
        width: calc(25% - 20px); 
    }
}
#contacto{
    margin:10px;
}
footer{
    background-color: aqua;
    padding:15px;
}
footer i{
    background-color: aqua;
    padding:5px;
    color: white;
   
}
